.page-enter-active, .page-leave-active {
  transition: .5s;
}

/*.page-enter, .page-leave-to { */
.page-leave-to {
  /*transform: translateX(100%);*/
  opacity: 0;
}

.application--wrap {
  background-color: #ffffff;
}
